:root {
  --color-background-yellow: #ffc500;
  --color-background-lightgreen: #53ff11;
  --color-background-pink: #ff01c1;
  --color-background-blue: #005969;
  --color-lightblue: #00b0cf;
  --color-text: #1e0c1b;
}
